:root {

  --hue: 228;
  --primary-color: hsl(var(--hue), 39%, 34%);
  --headline: hsl(210,11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%, 1);


  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /*1rem = 10*/

  --nav-height: 7.2rem;
}

#id-page {
  background-image: 
  url('../assets/medicos.png');
  background-repeat: 
  no-repeat;

  margin-top: 7rem;

  display: flex;

  height: 9rem;
  position:absolute;

  width: 100%;
  z-index: 100;

  align-items: center;


  font-weight: 900;
  line-height: 3.9rem;
  color: var(--primary-color);
}

#id-page h1 {
  font-size: 4rem;

  padding-left: 5rem;
}

#artigos .wrapper {
  display: flex;
  flex-wrap: wrap;
}

#artigos ul {
  margin: 3rem auto;
}

#artigos img {
  width: 40rem;
}

#artigos .col__a {
  margin-top: 15rem;
}

#artigos .col__a,
.col__b,
.col__c {
 
  background-color: var(--brand-beige);
  width: 35rem;

  text-align: left;

  background: var(--bg-light);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(206, 191, 191, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(195, 190, 196, 0.28);
}

#artigos .col__a:hover {
  background: var(--bg-light);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(77, 67, 67, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(218, 208, 218, 0.28);
}

#artigos .col__b:hover {
  background: var(--bg-light);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(77, 67, 67, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(218, 208, 218, 0.28);
}

#artigos .col__c:hover {
  background: var(--bg-light);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(77, 67, 67, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(218, 208, 218, 0.28);
}

#artigos h2 {
  padding: 4rem;
}

#artigos p {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;

  line-height: 3rem;
}

/*============CONGIGURAÇÕES DE RESPONSIVIDADE============*/

@media (min-width: 1024px){

  #id-page h1 {
    font-size: 4rem;
    padding-left: 10rem;
  }

  #artigos .wrapper{
    gap: 3rem;
    margin: 3rem auto;

    align-items: center;
  }

  #artigos .col__a {
    margin-top: 3rem;
  }

}